<nav class="main-nav">
    <ul class="nav-links">
        <li class="nav-insta"><%= link_to "Instagram", users_url %></li>
        <li class="nav-link">
            <%= link_to users_url do %>
            <i class="fa fa-home"></i>
            <% end %>
        </li>
        <li class="nav-link"><i class="fa fa-envelope"></i></li>
        <li class="nav-link"><i class="fa fa-heart"></i></li>
        <li class="nav-link dropdown">
            <%= link_to user_url(current_user) do %>
            <i class='fa fa-user'></i>
            <% end %>
        </li>

    </ul>
</nav>